<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center text-pastelyellow">
                Copyright &copy; 2018 | www.jabber.biz | All rights reserved
            </div>
        </div>
    </div>
</footer>