<nav class="navbar navbar-expand-md navbar-dark bg-gunmetal">
    
    <div class="container">

        {{!-- Brand Name And Logo --}}
        <a class="navbar-brand" href="/">
            <strong>MongoDb Scraper</strong>
        </a>

        {{!-- Navbar Toggler - Stays at right upper corner on small and extra small device --}}
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
            Scrape Web
        </button>

        <div class="collapse navbar-collapse" id="primary-navigation">
            
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                <li class="nav-item">
                    <a class="nav-link hvr-underline-from-center" href="/">
                        Home
                    </a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link hvr-underline-from-center" href="/saved">
                        Saved Articles
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link hvr-underline-from-center" href="/signout">
                        Scrape New Articles
                    </a>
                </li>

            </ul>
            
        </div>
    </div> 
</nav> 