<nav class="navbar navbar-expand-md navbar-dark bg-gunmetal">
  <!-- Toggler/collapsibe Button -->
  {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button> --}}

  <div class="container collapse navbar-collapse" id="collapsibleNavbar">
    <a class="navbar-brand" id="title" href="/">
      <img src="/assets/images/mongoicon.jpg" style="height: 30px; padding: 0px;">
      <strong>MongoDb Scraper</strong>
    </a>
    <div>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 align-items-center">
        <li class="nav-item">
          <a class="nav-link hvr-underline-from-center" href="/">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link hvr-underline-from-center" href="/saved">
            Saved Articles
          </a>
        </li>
        <span>
          <button type="button" class="btn-success btn-sm navbar-btn" id="scrape">
          Scrape Articles
          </button>
        </span>
        <span>
          <button type="button" class="btn-danger btn-sm navbar-btn delete" id="delete">
            Delete Articles
          </button>
        </span>
      </ul>
    </div>
  </div>
</nav>
<br>





