<!DOCTYPE html>
<html lang="en">
    
    <head>
        
        {{!-- Required meta tags --}}
        <title>Web Scraper</title>
        
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {{!-- Custom CSS file --}}
        <link rel="stylesheet" href="/assets/css/style.css">
        
        {{!-- Google Font links --}}
        <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

		

    </head>

    <body>
        
        {{>header}}

        {{{body}}}

        {{>footer}}
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="/assets/javascript/javascript.js"></script>

    </body>
    
</html>