<div class="container">

	<div class="jumbotron">

		<h1>The New York Times</h1>
		
	</div>

	<br>

  	<div class="panel panel-default">

	    <div class="panel-heading panel-heading-custom bodyheading">Top Articles</div>

		    <div class="panel-body" id="panelbody">
				<br>
				<Br>

				{{#each articles}}

			    	<div class="card text-center">
					      	<p>{{title}}</p>
					      	<a href="{{url}}">{{url}}</a>
			    			<p>{{summary}}</p>
			    	</div>

		    	{{/each}}

	  		</div>
  	</div>

</div>