<div class="container">

	<div class="jumbotron">

		<h1>The New York Times</h1>
		
	</div>

	<br>
	
	{{#unless articles}}

	  	<div class="panel panel-default">

		    <div class="panel-heading panel-heading-custom bodyheading">Top Articles</div>
			
				<div class="panel-body" id="panelbody">
			    	<br><Br><Br><Br><br><Br><Br><Br>
			    </div>
	  	</div>

  	{{/unless}}
	
	<div class="panel-body panel-default" id="panelbody">
		

		{{#if articles}}

		<div class="panel-heading panel-heading-custom bodyheading">Latest Articles</div>
			{{#each articles}}

		    	<div class="col-md-12" id="cardbody">
				  	<div class="card-block">
				    	<a href="{{url}}" id="URL"><h3 class="card-header d-flex justify-content-start align-items-center">{{title}}</a><form class="ml-auto p-2" action="/saved/{{_id}}" method="GET"><button class="btn btn-success" type="submit" id="saveBtn">Save Article</button></form></h3>
				    	<br>
				    	<p class="card-text" id="summary">{{summary}}</p> 
				    	
				  	</div>
				</div>

	    	{{/each}}

		{{/if}}
	</div>

</div>