html, body {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
} 

.navbar {
	background-color: #2C3539;
	border-radius: 9px;
	position: fixed;
	width: 100%;
	z-index: 5;
}

.jumbotron h1 {
	text-align: center;
	color: #10100a;
	font-family: 'Lobster', cursive;
	font-style: italic;
	font-size: 80px;
}	

#scrape {
	margin-right: .5rem;
}

.jumbotron {
	background-image: url(../images/newspaper.jpg);
	margin-top: 50px;
}

.bodyheading {
	text-align: center;
	font-size: 30px;
	font-family: 'Lobster', cursive;
	font-style: italic;
	padding: 5px;
}

.card-header {
	background-color: #6288a5;
	border-radius: 2px;
	font-size: 20px;
}

.panel-default > .panel-heading-custom {
	background: #6288a5; 
	color: #d9d9d9;
}

#panelbody{
	background-image: url(../images/article.jpg);
	background-size: length;
	height: 100%;
}

#cardbody {
	margin: 20px 0px;
}

.card-block {
	background-color: lightgray;
	border-radius: 9px;
}

#URL {
	color: #d9ccc3;
	font-size: 20px;
}

#summary {
	font-family: 'Lora', serif;
	margin: 0px 15px 0px;
	padding-bottom: 20px;
}

.saveBtn {
	color: white;
	display: inline-block;
	vertical-align: center;
}

.footer {
    background-color: #2C3539;
    color: #FFF;
    padding: 20px 0;
    margin-top: 5px;
}

#modaltext{
	font-family: 'Lora', serif;
	text-align: center;
	font-size: 20px;
}